/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
.table-container{
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 20px 40px -12px rgba(0,0,0,0.45);
}
.table{
    width: 100%;
    text-align:  center;

}
.table td{
    padding-top: 10px;
    padding-bottom: 10px;
}
#menu{
    background-color: #253A46;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
#menu a{
    color: white;
    padding-right: 50px;
}
.fatal{
    text-align: center;
}
                                                                /* spinner */
.center{
    text-align: center;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #253A46;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .pub_titulo{
    padding: 1em;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 1em;
    box-shadow: 2px 6px 2px rgba(136, 136, 136, 0.589);
    cursor: pointer;
  }
  .pub_name{
    text-align: center;
  }
  .m_left{
    margin-left: 20px;
  }



